.profile-tittle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 55px;
    text-align: center;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to right, #ff7e5f, #feb47b, #ff7e5f);    
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.profile-details{
    background-color: #333333;
    padding: 30px;
    width: 500px;
    height: 265px;
    border-radius: 29px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.prf-dt{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #ff7e5f;
    margin-bottom: 20px;
}