.register-container {
    width: 500px;
    margin: 120px auto;
    background: #333333;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.register-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    text-align: center;
    margin-bottom: 25px;

    background: linear-gradient(to right, #ff7e5f, #feb47b, #ff7e5f);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-form label {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-bottom: 5px;
    color: #ff7e5f;
}

.register-form input,
.register-form select {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 2px solid #ff7e5f;
    border-radius: 8px;
    background: #222;
    color: #fff;
    outline: none;
}

.register-btn {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: 0.3s;
}

.register-btn:hover {
    opacity: 0.85;
}
